/**
 *
 */

$typi: (
	null: (16px, 1.5)
);

/**
 *
 */

$font-serif:
	'Georgia',
	'DejaVu Serif',
	'Norasi',
	serif;

$font-sans-serif:
	'Arial',
	'Helvetica',
	'Liberation Sans',
	'FreeSans',
	sans-serif;

/**
 *
 */

$color-black: #333;
$color-white: #fff;
