/**
 *
 */
html,
body {
	margin: 0;
	padding: 0;
}

/* stylelint-disable selector-no-universal */

*,
*:after,
*:before {
	box-sizing: border-box;
}

/* stylelint-enable */

body {
	@include typi-base();
	font-family: $font-body;
	background: $color-white;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

ol {
	padding-left: vr(1);
}

h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
select,
button {
	font: inherit;
	font-weight: normal;
}
