/**
 *
 */

$typi: (
	null: (13px, 1.5)
);

$base-line-height: 13px * 1.5;

/**
 *
 */

$app-gutter: vr(0.5);

/**
 *
 */

$font-serif:
	'Georgia',
	'DejaVu Serif',
	'Norasi',
	serif;

$font-sans-serif:
	'Arial',
	'Helvetica',
	'Liberation Sans',
	'FreeSans',
	sans-serif;

$font-mono: monospace;

/**
 *
 */

$color-black: #111;
$color-white: #fff;

// colors used on
// http://references.modernisation.gouv.fr/rgaa-accessibilite/criteres.html
$color-wild-sand: #f5f5f5;
$color-mariner: #2868c9;
$color-orange: orange;
$color-red: firebrick;
$color-highlight: rgba(yellow, 0.1);
