/**
 *
 */

$base-font-size: 13px;
$line-height: 1.5;

$typi: (
	null: ($base-font-size, $line-height)
);
$typi-xxlarge: (
	null: (1.313em, $line-height / 1.313)
);
$typi-xlarge: (
	null: (1.0625em, $line-height / 1.0625)
);
$typi-large: (
	null: (0.9375em, $line-height / 0.9375)
);
$typi-regular: (
	null: (0.8125em, $line-height / 0.8125)
);

$base-line-height: $base-font-size * $line-height;

/**
 *
 */

$app-gutter: vr(0.5);

$indent: 10px;

/**
 *
 */

$font-title:
	'Avenir',
	'Georgia',
	'DejaVu Serif',
	'Norasi',
	serif;

$font-body:
	'Arial',
	'Helvetica',
	'Liberation Sans',
	'FreeSans',
	sans-serif;

$font-mono: monospace;

/**
 *
 */

$color-black: #111;
$color-white: #fff;
$color-sand: #f5f5f5;
$color-gray: #888;
$color-gray-dark: #555;
$color-blue: #2868c9;
$color-blue-text: $color-white;
$color-blue-light: #4c93ff;
$color-blue-light-text: #000;
$color-blue-dark: #0c397c;
$color-blue-dark-text: $color-white;
$color-orange: #e6a420;
$color-orange-text: #222;
$color-orange-text-dark: #000;
$color-red: firebrick;
$color-green: green;
$color-highlight: rgba(yellow, 0.1);
$color-highlight-no-opacity: #ffffe4;

$color-theme: #2868c9;
$color-theme-text: $color-white;
$color-theme-light: #4c93ff;
$color-theme-light-text: #000;
$color-theme-dark: #0c397c;
$color-theme-dark-text: $color-white;

$color-accent: orange;
$color-accent-text: $color-black;

$max-z-index: 2147483647;
