.Title {
	@include typi($typi-xlarge);
	font-family: $font-title;
	background-color: $color-theme-dark;
	color: $color-theme-dark-text;
	padding: vr(1/4) $app-gutter;
}

.Title--accent {
	background-color: $color-accent;
	color: $color-accent-text;
}

.Title--sub {
	background-color: $color-theme;
	color: $color-theme-text;
}
