/* all css here is !important because it is injected
in the page directly, not in an iframe. We want to be
sure page styles won't affect ours */

/* stylelint-disable
declaration-no-important, selector-no-id, selector-id-pattern */

#vt-RGAAToolbar-container {
	position: fixed !important;
	top: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	border: 0 !important;
	height: 100% !important;
	background: #f5f5f5 !important;
	z-index: 99999 !important;
	box-shadow: 0 0 6px 6px rgba(0, 0, 0, 0.3) !important;
}

#vt-RGAAToolbar-container.vt-RGAAToolbar-container--left {
	left: 0 !important;
	right: auto !important;
	border: 0 !important;
}

#vt-RGAAToolbar-container.vt-RGAAToolbar-container--right {
	left: auto !important;
	right: 0 !important;
}

#vt-RGAAToolbar-container.vt-RGAAToolbar-container--bottom {
	bottom: 0 !important;
	top: auto !important;
	width: 100% !important;
	height: auto !important;
	border: 0 !important;
}

#vt-RGAAToolbar-panel {
	width: 100% !important;
	height: 100% !important;
	border: none !important;
}

/* stylelint-enable */
