/* all css here is !important because it is injected
in the page directly, not in an iframe. We want to be
sure page styles won't affect ours */

/* stylelint-disable
declaration-no-important, selector-no-id, selector-id-pattern */

#rgaat-Frame {
	position: fixed !important;
	top: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	border: 0 !important;
	width: 350px !important;
	height: 100% !important;
	background: #fff !important;
	z-index: 999999 !important;
}

#rgaat-Frame.rgaat-Frame--left {
	left: 0 !important;
	right: auto !important;
}

#rgaat-Frame.rgaat-Frame--right {
	left: auto !important;
	right: 0 !important;
}

#rgaat-Frame.rgaat-Frame--bottom {
	bottom: 0 !important;
	top: auto !important;
	width: 100% !important;
	height: 300px !important;
}

/* stylelint-enable */
