/* stylelint-disable
declaration-no-important, selector-no-id, selector-id-pattern */

// ResizeHandle width/height are not !important to
// allow resizing via JS

.rgaaExt-ResizeHandle--left,
.rgaaExt-ResizeHandle--right {
	width: 400px;
}

.rgaaExt-ResizeHandle--left,
.rgaaExt-ResizeHandle--right,
.rgaaExt-ResizeHandle--left .rgaaExt-ResizeHandle-handle,
.rgaaExt-ResizeHandle--right .rgaaExt-ResizeHandle-handle {
	height: 100% !important;
}

.rgaaExt-ResizeHandle--top {
	height: 400px;
}

.rgaaExt-ResizeHandle--top,
.rgaaExt-ResizeHandle--top .rgaaExt-ResizeHandle-handle {
	width: 100% !important;
}

.rgaaExt-ResizeHandle-handle {
	background-color: orange !important;
}

.rgaaExt-ResizeHandle-handle:hover {
	background-color: #ffb100 !important;
}

.rgaaExt-ResizeHandle-handle:before,
.rgaaExt-ResizeHandle-handle:after {
	content: '►';
	cursor: pointer;
	color: rgba(0, 0, 0, 0.5);
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	text-align: center;
	height: 12px;
	line-height: 12px;
	font-size: 10px;
	padding: 20px 0;
}

.rgaaExt-ResizeHandle-handle:before {
	padding-bottom: 80px;
}

.rgaaExt-ResizeHandle-handle:after {
	padding-top: 80px;
}

.rgaaExt-ResizeHandle--folded .rgaaExt-ResizeHandle-handle:before,
.rgaaExt-ResizeHandle--folded .rgaaExt-ResizeHandle-handle:after {
	content: '◄';
}

.rgaaExt-ResizeHandle--top .rgaaExt-ResizeHandle-handle:before,
.rgaaExt-ResizeHandle--top .rgaaExt-ResizeHandle-handle:after {
	transform: rotate(90deg);
}

.rgaaExt-ResizeHandle--right .rgaaExt-ResizeHandle-handle:before,
.rgaaExt-ResizeHandle--right .rgaaExt-ResizeHandle-handle:after {
	transform: rotate(180deg);
}

/* stylelint-enable */
