/* all css here is !important because it is injected
in the page directly, not in an iframe. We want to be
sure page styles won't affect ours */

/* stylelint-disable
declaration-no-important, selector-no-id, selector-id-pattern */

.rgaaExt-Container-wrapper {
	position: fixed !important;
	top: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	border: 0 !important;
	height: 100% !important;
	background: #f5f5f5 !important;
	z-index: $max-z-index !important;
	box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.3) !important;
}

.rgaaExt-Container-wrapper.rgaaExt-Container-wrapper--left {
	left: 0 !important;
	right: auto !important;
	border: 0 !important;
}

.rgaaExt-Container-wrapper.rgaaExt-Container-wrapper--right {
	left: auto !important;
	right: 0 !important;
}

.rgaaExt-Container-wrapper.rgaaExt-Container-wrapper--bottom {
	bottom: 0 !important;
	top: auto !important;
	width: 100% !important;
	height: auto !important;
	border: 0 !important;
}

.rgaaExt-Container-panel {
	width: 100% !important;
	height: 100% !important;
	border: none !important;
}

.rgaaExt-Container-wrapper--folded.rgaaExt-Container-wrapper--folded {
	top: 0 !important;
	left: auto !important;
	right: 0 !important;
	bottom: 0 !important;
	height: $toggle-size !important;
	width: $toggle-size !important;
	box-shadow: none !important;
	opacity: 0.7 !important;
	cursor: pointer !important;

	&:hover,
	&:focus {
		opacity: 1 !important;
	}
}

.rgaaExt-Container-wrapper--folded .rgaaExt-Container-panel {
	width: $toggle-size !important;
	height: $toggle-size !important;
	cursor: pointer !important;
}

/* stylelint-enable */
