/* stylelint-disable
declaration-no-important, selector-no-id, selector-id-pattern */

// ResizeHandle width/height are not !important to
// allow resizing via JS

.rgaaExt-ResizeHandle--left,
.rgaaExt-ResizeHandle--right {
	width: 400px;
}

.rgaaExt-ResizeHandle--left,
.rgaaExt-ResizeHandle--right,
.rgaaExt-ResizeHandle--left .rgaaExt-ResizeHandle-handle,
.rgaaExt-ResizeHandle--right .rgaaExt-ResizeHandle-handle {
	height: 100% !important;
}

.rgaaExt-ResizeHandle--top {
	height: 400px;
}

.rgaaExt-ResizeHandle--top,
.rgaaExt-ResizeHandle--top .rgaaExt-ResizeHandle-handle {
	width: 100% !important;
}

.rgaaExt-ResizeHandle-handle {
	background-color: orange !important;
}

.rgaaExt-ResizeHandle-handle:before {
	content: '\02016'; // ‖
	color: #222;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	text-align: center;
	height: 16px;
	line-height: 16px;
	font-size: 16px;
}

.rgaaExt-ResizeHandle--top .rgaaExt-ResizeHandle-handle:before {
	transform: rotate(90deg); // for the handle "‖" to be horizontal
}

/* stylelint-enable */
