/* stylelint-disable declaration-no-important */



.rgaaExt-Body--withHelpers :target {
	outline: 1px $color-green solid !important;
	box-shadow: 0 0 10px $color-green !important;
}

.rgaaExt-Body--disableAllStylesHelper {
	legend {
		// prevents background content to be seen under the legend
		background: #fff !important;
	}

	label,
	input,
	textarea,
	select,
	object {
		display: block !important;
	}

	a {
		display: inline-block !important;
	}

	.rgaaExt-Helper {
		margin-bottom: $base-line-height / 2 !important;
	}
}

