/* stylelint-disable declaration-no-important */



.rgaaExt-Helper {
	all: initial;
	position: relative;
	display: inline-block !important;
	margin: 0 ($base-line-height / 4) 0 0 !important;
	padding: 0 $base-line-height / 4 !important;
	color: $color-white !important;
	line-height: $base-line-height !important;
	font-family: $font-mono !important;
	font-size: $base-font-size !important;
	z-index: ($max-z-index - 5) !important;
	background: $color-red !important;

	a {
		color: $color-orange-text-dark !important;
	}
}

.rgaaExt-ShowTagHelper,
.rgaaExt-Element-name {
	color: $color-white !important;
	background: $color-red !important;

	a {
		color: $color-white !important;
	}
}

.rgaaExt-Element-content {
	margin: 0 !important;
	color: $color-orange-text-dark !important;
	padding: 0 0.2em !important;
	background: $color-white !important;
	white-space: normal !important;
}
