/* stylelint-disable declaration-no-important */



.rgaaExt-ColorContrastHelper--picking {
	cursor: crosshair !important;
	cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAABgwAAAYMBxVra2QAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAFWSURBVEiJ1dO9SgNBEMDxf8gRkt2N3Fn4kULwJXwAHyKQVgStbK60OkiTO3wNNc8hBtIqWgqa0hRicmA2JGvhHcr5ES7ZiA5Mt/xmdmYX/knsAldAD7gBDm3i+0AfMB/yCTiwge8Bjxk8zdu8WAE4TbIwAze8jauQp8AZMEyyy+exZPMawMl7DUACOzPO9IGjvHA6oiE/d95ngQWvO44zKJVKS8HXqtXqXRAEo0ajYZRSy8GNMWY6nZp6vW4yN+mS89V8iafRarV0sViMed9JDJxbwcMw1FLKB6AGtIHnpFCuAt/hY6VUD9hMzmU/4Px4FEVZfK6Yhdf+LI7neRdBEOjsa1FK3QMbC+HAluu6sdbafucAUsrI9/2RMcZorU2z2Rzb6hxgRQgx6HQ6xvf9F9d1Y8/zLm3hlMvlYyHERAgxlFKeANtW4DQqlUpbShkCq1bh34hXD4MSIbPYWRgAAAAASUVORK5CYII=) 1 22, crosshair !important;

	a,
	button,
	[role="link"],
	[role="button"],
	[onclick] {
		pointer-events: none !important;

		/*
		* {
			pointer-events: initial;
		}
		*/
	}

	*:hover {
		box-shadow:
			0 0 0 1px $color-red,
			0 0 0 2px $color-white;
	}
}

.rgaaExt-ColorContrastHelper--noInteraction {
	pointer-events: none !important;
}
