/* stylelint-disable declaration-no-important */



.rgaaExt-OutlineHelper {
	margin: 0.5em 0 !important;
	padding: 0.2em !important;
	outline: 1px $color-red solid !important;
	box-shadow: 0 0 10px $color-red !important;

	.rgaaExt-OutlineHelper {
		outline: 2px $color-red dashed !important;
		box-shadow: none !important;

		.rgaaExt-OutlineHelper {
			outline: 2px $color-red dotted !important;
		}
	}
}
