/* stylelint-disable declaration-no-important */



.rgaaExt-Helper {
	all: initial;
	padding: $base-line-height / 4 !important;
	background: $color-highlight !important;
	line-height: $base-line-height !important;
	font-family: $font-mono !important;
	font-size: 1rem !important;
}
