/* stylelint-disable declaration-no-important */



.rgaaExt-ShowAttributeHelper {
	display: inline-block !important;
	margin-left: $base-line-height / 4 !important;
}

.rgaaExt-ShowAttributeHelper-missing {
	text-decoration: line-through;
}
