.Criterion {
	border-top: 1px solid lighten($color-black, 60%);
}

.Criterion-header {
	display: flex;
	justify-content: space-between;
	padding: 0;

	a {
		color: $color-white;
	}
}

.Criterion-title {
	padding: vr(0.25) $app-gutter;
	font-weight: bold;
}

.Criterion-actions {
	flex-shrink: 0;
}

.Criterion-action {
	display: inline-block;
	vertical-align: middle;
	padding: vr(1/8);
	border-left: 1px solid lighten($color-theme, 20%);
	height: 100%;
}

.Criterion.is-disabled {
	opacity: 0.4;
	cursor: help;
}

.Criterion.is-disabled a,
.Criterion.is-disabled button,
.Criterion.is-disabled input,
.Criterion.is-disabled label {
	pointer-events: none;
}

.Criterion-test:nth-child(even) {
	background: rgba($color-blue, 0.05);
}

.Criterion-test:hover {
	background: $color-highlight;
}

.Criterion:target .Criterion-title {
	animation: highlight 0.5s ease-in;
}

.Criterion-test:last-child .Test-header:last-child,
.Criterion-test:last-child .TestInstructions {
	padding-bottom: vr(1);
}

@keyframes highlight {
	0% {
		background-color: lighten($color-blue, 40%);
	}

	100% {
		background-color: $color-blue;
	}
}
