.Criterion-title {
	background-color: $color-mariner;
	color: $color-white;
	padding: $app-gutter;
	font-weight: bold;

	a {
		color: $color-white;
	}
}

.Criterion.is-disabled {
	opacity: 0.4;
	cursor: help;
}

.Criterion.is-disabled a,
.Criterion.is-disabled button,
.Criterion.is-disabled input,
.Criterion.is-disabled label {
	pointer-events: none;
}

.Criterion-test:nth-child(even) {
	background: rgba($color-mariner, 0.05);
}

.Criterion-test:hover {
	background: rgba(yellow, 0.1);
}

.Criterion:target .Criterion-title {
	animation: highlight 0.5s ease-in;
}

@keyframes highlight {
	0% {
		background-color: lighten($color-mariner, 40%);
	}

	100% {
		background-color: $color-mariner;
	}
}
