.Criterion {
	border-bottom: 1px solid lighten($color-black, 60%);
}

.Criterion-header {
	display: flex;
	justify-content: space-between;
	padding: 0;
	background-color: $color-white;
	color: $color-black;

	a {
		color: $color-black;
		text-decoration: underline;

		&:hover,
		&:focus {
			text-decoration: none;
		}

		&:active {
			text-decoration: underline;
		}
	}
}

.Criterion:nth-child(even) .Criterion-header {
	background: rgba($color-blue, 0.05);
}

.Criterion .Criterion-header:hover {
	background: $color-highlight;
}

.Criterion.is-open .Criterion-header {
	@include typi($typi-large);
	background-color: $color-theme;
	color: $color-theme-text;

	a {
		color: $color-theme-text;
	}
}

.Criterion-title {
	display: block;
	width: 100%;
}

.Criterion-title {
	cursor: pointer;
	font-weight: normal;
	padding: vr(0.25) $app-gutter;
	text-align: left;
}

.Criterion-titleText {
	display: inline;
}

.Criterion.is-open .Criterion-title {
	font-weight: bold;
}

.Criterion-toggle {
	margin-right: 3px;
}

.Criterion-toggle:before {
	display: inline-block;
	font-family: $font-body;
	content: '►';
	transition: transform 0.25s;
}

.Criterion.is-open .Criterion-toggle:before {
	transform: rotate(90deg);
}

.Criterion-importResults {
	display: inline-block;
}

.Criterion-importResults .ImportResult {
	margin: 0 3px;
}

.Criterion-actions {
	flex-shrink: 0;
}

.Criterion-action {
	display: inline-block;
	vertical-align: middle;
	padding: vr(1/8);
	border-left: 1px solid lighten($color-black, 60%);
	height: 100%;
}

.Criterion.is-open .Criterion-action {
	border-color: lighten($color-theme, 20%);
}

.Criterion-content {
	background-color: $color-theme;
	transition: padding-left 0.3s;
}

.Criterion.is-open .Criterion-content {
	padding-left: $app-gutter;
}

.Criterion-tests {
	background: $color-white;
}

.Criterion-test:nth-child(even) {
	background: rgba($color-blue, 0.05);
}

.Criterion-test:hover {
	background: $color-highlight;
}

.Criterion-actionLabel {
	display: block;
	cursor: pointer;
}

.Criterion-action--done {
	font-size: 0;
}

.Criterion-action--done .Icon {
	@include typi($typi-xxlarge);
	line-height: 1;
	transition: transform 0.2s ease-out;
}

.Criterion-action--done.Criterion-action--checked .Icon {
	transform: rotate(60deg);
}

.Criterion.is-open .Criterion-action--done {
	padding-top: vr(1/4);
}
