.Dropdown-container {
	position: relative;
	z-index: 500;
}

.Dropdown-list {
	position: absolute;
	top: 100%;
	left: 0;
	background: $color-sand;
	border: 1px solid darken($color-sand, 20%);
	padding: vr(0.125);
}

.Dropdown-list--right {
	left: auto;
	right: 0;
}

.Dropdown-list > li {
	white-space: nowrap;
}
