.Header {
	flex-shrink: 0;
	display: flex;
	padding: vr(0.25) vr(0.5);
	align-items: center;
	color: lighten($color-black, 30%);
}

.Header-title {
	flex: 1;
}

.Header-actions > * {
	display: inline-block;
	margin-left: vr(0.25);
}

.Header-actions > .Link,
.Header-actions .Dropdown-toggle {
	color: $color-black;
}

.Header-dock,
.Header-minimize {
	margin-left: vr(1);
}

.Header-dock .Dropdown-toggle,
.Header-options,
.Header-help {
	padding: 0 vr(1/8);

	.Icon {
		color: lighten($color-black, 30%);
		width: 1.25em;
		height: 1.25em;
	}
}
