.Header {
	flex-shrink: 0;
	display: flex;
	padding: vr(0.25) vr(0.5);
	align-items: center;
	color: lighten($color-black, 30%);
}

.Header-title {
	flex: 1;
}

.Header-actions > * {
	display: inline-block;
	margin-left: vr(0.25);
}

.Header-actions > .Link,
.Header-actions .Dropdown-toggle {
	color: $color-black;
}

.Header-dock,
.Header-close {
	margin-left: vr(1);
}
