.ImportPage {
	display: flex;
	flex: 1;
	flex-direction: column;
}

.ImportPage-content {
	flex: 1;
	overflow: auto;
	padding: vr(1);
}

.ImportPage-success {
	color: green;
	margin-top: vr(1);
}

.ImportPage-failure,
.ImportPage-errors {
	color: red;
}

.ImportPage-errors {
	margin-top: vr(1/2);
	padding-left: vr(1);
	list-style-type: disc;
}

.ImportPage-warning {
	color: orangered;
}

.ImportPage-failure {
	margin-top: vr(1);
}

.ImportPage-buttons {
	text-align: center;
	margin-top: vr(1);
}

.ImportPage-button + .ImportPage-button {
	margin-left: vr(1) / 2;
}

.ImportPage-file {
	margin-top: vr(1);
}

.ImportPage-input {
	display: flex;
}

.ImportPage-input input {
	margin-left: auto;
}

.ImportPage-input input[type='text'] {
	text-align: center;
	max-width: vr(1);
}
