.ImportResult {
	min-width: 28px;
}

.ImportResult[data-import-result='nc'] {
	background: #de1b3e;
}

.ImportResult[data-import-result='c'] {
	background: #07838b;
}

.ImportResult[data-import-result='na'] {
	border-color: #999;
	background: #fff;
	color: #555;
}
