.TestInstructions {
	padding: vr(0.25) $app-gutter;
	border-top: 1px solid lighten($color-black, 80%);
}

.TestInstructions-title {
	display: inline-block;
	padding-right: vr(1);
	position: relative;
}

.TestInstructions-toggle:before {
	display: inline;
	margin-right: 3px;
	content: '►';

	.TestInstructions.is-open & {
		content: '▼';
	}
}

.TestInstructions a {
	text-decoration: underline;

	&:hover,
	&:focus {
		text-decoration: none;
	}

	&:active {
		text-decoration: underline;
	}
}
