.TestInstructions {
}

.TestInstructions-toggle {
	display: block;
	width: 100%;
	text-align: left;

	&:before {
		display: inline;
		margin-right: 3px;
		content: '►';

		.TestInstructions.is-open & {
			content: '▼';
		}
	}
}
