.Test {
	border-bottom: 1px solid lighten($color-black, 60%);

	&.is-applied {
		background: $color-blue-lighter;
	}
}

.Test-header {
	display: flex;
	justify-content: space-between;
}

.Test-title {
	padding: vr(0.25) $app-gutter;
}

.Test-actions {
	flex-shrink: 0;
}

.Test-action {
	display: inline-block;
	vertical-align: middle;
	padding: vr(0.125);
	border-left: 1px solid lighten($color-black, 80%);
	height: 100%;
}

.Test-actionLabel {
	display: block;
	cursor: pointer;
}

.Test-id {
	font-weight: bold;

	&:after {
		content: ' - ';
		display: inline;
		font-weight: normal;
	}
}

.Test-title ul {
	list-style-type: disc;
	padding-left: vr(1);
}

.Test-header a {
	text-decoration: underline;

	&:hover,
	&:focus {
		text-decoration: none;
	}

	&:active {
		text-decoration: underline;
	}
}

.Test-action--done {
	color: $color-gray-dark;
	font-size: 0;
}

.Test-action--done .Icon {
	@include typi($typi-xxlarge);
	line-height: 1;
	transition: transform 0.2s ease-out;
}

.Test-action--done.Test-action--checked .Icon {
	transform: rotate(60deg);
}
