.Test {
	border: 1px solid lighten($color-black, 30%);
	border-bottom: none;
}

.Test-header {
	display: flex;
	justify-content: space-between;
}

.Test-title {
	padding: vr(0.25);
	padding-left: $app-gutter;
}

.Test-actions {
	flex-shrink: 0;
}

.Test-action {
	display: inline-block;
	vertical-align: middle;
	padding: vr(0.125);
	border-left: 1px solid lighten($color-black, 80%);
	height: 100%;
}

.Test-actionLabel {
	display: block;
}

.Test-actionLabel img {
	height: $base-line-height;
	cursor: pointer;
}

.Test-id {
	font-weight: bold;

	&:after {
		content: ' - ';
		display: inline;
		font-weight: normal;
	}
}
