.Theme {
	background: $color-white;

	code {
		padding: 0 2px;
		border-radius: 2px;
		background: #ffeaea;
	}
}

.Theme.is-disabled {
	opacity: 0.4;
	cursor: help;
}

.Theme.is-disabled a,
.Theme.is-disabled button,
.Theme.is-disabled input,
.Theme.is-disabled select,
.Theme.is-disabled label {
	pointer-events: none;
}

.Theme-header {
	display: flex;
}

.Theme-title {
	flex: 1 1 auto;
}
