.ThemesList {
	display: flex;
	position: relative;
	top: 1px;
}

.ThemesList-tabs {
	flex: 1;
	overflow: hidden;
}

.ThemesList-item {
	display: inline-block;
}

.ThemesList-link {
	display: block;
	padding: vr(0.125) vr(1);
	padding-left: 36px;
	background: darken($color-white, 10%) none no-repeat 6px 50%;
	background-size: 24px;
	border: 1px solid darken($color-wild-sand, 30%);
}

.ThemesList-item + .ThemesList-item .ThemesList-link {
	border-left: 0;
}

.ThemesList-link:not(.is-disabled):hover,
.ThemesList-link:not(.is-disabled):focus {
	background-color: darken($color-white, 5%);
}

.ThemesList-link:not(.is-disabled):active {
	background-color: darken($color-white, 15%);
}

.ThemesList-link.is-disabled {
	opacity: 0.4;
}

.ThemesList-item.is-active .ThemesList-link {
	background-color: $color-white;
	border-bottom: 0;
}

.ThemesList-navButton {
	padding-left: vr(0.25);
	padding-right: vr(0.25);
	font-weight: bolder;
	border-radius: 0;
}
