.ThemesList {
	z-index: 100;
	border-bottom: 2px solid $color-theme;
}

.ThemesList-list {
	position: absolute;
	left: $app-gutter;
	right: $app-gutter;
	margin: auto;
	background: $color-white;
	border: 2px solid $color-theme;
	border-top: 0;
	box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.6);
}

.ThemesList-title {
	flex-shrink: 0;
	padding: 0;
	display: block;
	width: 100%;
	text-align: left;
	cursor: pointer;
}

.ThemesList-toggle {
	padding: vr(1/4) $app-gutter;
	display: block;
}

// emulate a border with a box-shadow to prevent additionnal pixels
.ThemesList-toggle:focus {
	outline-color: $color-theme;
	box-shadow: inset 0 0 0 2px $color-theme;
}

.ThemesList-toggleIcon {
	display: inline-block;
	text-align: center;
	width: 20px;
	height: 20px;
	margin-right: 6px;
	margin-bottom: 2px;
}

.ThemesList:not(.is-open) .ThemesList-toggleIcon {
	margin-top: -2px; //yes, this is magic
	// (better vertical alignement without changing line height)
}

.ThemesList-link {
	display: block;
	padding: vr(0.125) $app-gutter;
	background: $color-white none no-repeat 0.6rem 50%;
	background-size: 24px;
	border: 1px solid darken($color-sand, 30%);
	border-left: 0;
	border-right: 0;
	text-decoration: underline;
}

.ThemesList-item + .ThemesList-item .ThemesList-link {
	border-top: 0;
}

.ThemesList-itemIcon {
	margin-right: $app-gutter;
	width: 1.2em;
	height: 1.2em;
	vertical-align: -0.3em;
}

.ThemesList-item:last-child .ThemesList-link {
	border-bottom: 0;
}

.ThemesList-link:not(.is-disabled):hover,
.ThemesList-link:not(.is-disabled):focus {
	background-color: $color-highlight;
}

.ThemesList-link:not(.is-disabled):active {
	background-color: darken($color-highlight, 10%);
}

.ThemesList-link.is-disabled {
	opacity: 0.4;
	cursor: help;
}

.ThemesList-item.is-active .ThemesList-link {
	background-color: $color-white;
	border-bottom: 0;
}
