.Theme {
	flex: 1;
	background: $color-white;
	display: flex;
	flex-direction: column;
}

.Theme-header {
	flex-shrink: 0;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: $app-gutter;
	border-bottom: 1px dashed darken($color-wild-sand, 20%);
}

.Theme-title {
	font-weight: bold;
}

.Theme-criterionSelect {
	max-width: 100%;
}

.Theme-criterionSelect select {
	max-width: 300px;
}

.Theme-criteria {
	overflow: auto;
}
